* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* NavBar */

/* Landing */
#Landing {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.navbar-brand img{
    width: 200px;
}
.select {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
button {
    width: 200px;
}