* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* NavBar */
.navbar-brand img {
    width: 200px;
}
/* Landing */
#Landing {
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.select {
    width: 250px;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    width: 200px;
}
.intro {
    border: 1px solid black;
    text-align: center;
}

#Landing .row {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.row button {
    margin-bottom: 2px;
}

/* Zachary */

.card img {
    width: 285px;
    height: 250px;
    border-radius: 50%;
}

div.hero-img {
    display: flex;
    justify-content: center;
}
.form-check {
    border: 1px solid black;
    display: flex;
}

.screening-ques {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 500px;
    
}

div.screening {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer */
footer {
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}